body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slider-container .slider {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.slider-container .slider .slide {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  user-select: none;
  touch-action: pan-x;
}

.slider-container .slider .smooth {
  transition: transform 0.3s ease-in-out;
}